version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.filename=/etc/traefik/dynamic.yml
      - --providers.file.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --api.dashboard=true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./dynamic.yml:/etc/traefik/dynamic.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Ajusta las rutas a los certificados que ya tengas en el host
      - /etc/ssl/cashmsystem:/certs/cashmsystem:ro
      - /etc/ssl/fundraiser:/certs/fundraiser:ro
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK:-traefik_proxy}
